body {
    background: #00ff26;
    margin: 0;
}

.tiles {
    margin: 48px auto;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 16px;
}

.tile{
    height: 100px;
    background: #f700ff;
    border: 5px solid #ff0000;
    cursor: pointer;
}